@font-face {
    font-family: 'freightround_probold';
    src: url('fonts/FreightRoundProBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto_Serif';
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
    src: url('fonts/RobotoSerif.woff2') format('woff2');
}

h1 {
    font-family: "freightround_probold", Arial, sans-serif;
}

body {
    max-width: 600px;
    margin: auto;
    font-family: montserrat, Arial, sans-serif;
    font-weight: 390;
    font-style: italic;
}

footer {
    font-family: 'Roboto_Serif', Arial;
    font-size: 10px;
    font-weight: 247;
    font-style: normal;
}

.icons {
    font-size: 30px;
    color: #6495ed;
}